In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
filepath='C:\\Users\\progr\\OneDrive\\Desktop\\data_Sets\\PSL_Season_09_dataset.csv'
df=pd.read_csv(filepath)

In [5]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1416472,2023/24,2024-02-17,"Gaddafi Stadium, Lahore",1,1.5,Lahore Qalandars,Islamabad United,Sahibzada Farhan,Fakhar Zaman,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1416472,2023/24,2024-02-17,"Gaddafi Stadium, Lahore",1,1.6,Lahore Qalandars,Islamabad United,Sahibzada Farhan,Fakhar Zaman,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1416472,2023/24,2024-02-17,"Gaddafi Stadium, Lahore",1,2.1,Lahore Qalandars,Islamabad United,Fakhar Zaman,Sahibzada Farhan,...,5,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1416472,2023/24,2024-02-17,"Gaddafi Stadium, Lahore",1,2.2,Lahore Qalandars,Islamabad United,Fakhar Zaman,Sahibzada Farhan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1416472,2023/24,2024-02-17,"Gaddafi Stadium, Lahore",1,2.3,Lahore Qalandars,Islamabad United,Sahibzada Farhan,Fakhar Zaman,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.describe()

,match_id,innings,ball,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,other_wicket_type,other_player_dismissed
count,7.795000e+03,7795.000000,7795.000000,7795.000000,7795.000000,288.000000,23.0,16.000000,136.000000,1.0,0.0,0.0
mean,1.416488e+06,1.489416,9.695548,1.322001,0.075690,1.229167,1.0,2.250000,1.264706,5.0,NaN,NaN
std,1.011414e+01,0.499920,5.694842,1.650024,0.367276,0.828236,0.0,1.437591,0.800327,NaN,NaN,NaN
min,1.416472e+06,1.000000,0.100000,0.000000,0.000000,1.000000,1.0,1.000000,1.000000,5.0,NaN,NaN
25%,1.416479e+06,1.000000,4.600000,0.000000,0.000000,1.000000,1.0,1.000000,1.000000,5.0,NaN,NaN
50%,1.416487e+06,1.000000,9.600000,1.000000,0.000000,1.000000,1.0,1.500000,1.000000,5.0,NaN,NaN
75%,1.416497e+06,2.000000,14.500000,1.000000,0.000000,1.000000,1.0,4.000000,1.000000,5.0,NaN,NaN
max,1.416505e+06,2.000000,19.900000,6.000000,5.000000,5.000000,1.0,4.000000,4.000000,5.0,NaN,NaN

In [10]:
df.shape

(7795, 22)

In [8]:
df.isnull().sum()

match_id                     0
season                       0
start_date                   0
venue                        0
innings                      0
ball                         0
batting_team                 0
bowling_team                 0
striker                      0
non_striker                  0
bowler                       0
runs_off_bat                 0
extras                       0
wides                     7507
noballs                   7772
byes                      7779
legbyes                   7659
penalty                   7794
wicket_type               7392
player_dismissed          7392
other_wicket_type         7795
other_player_dismissed    7795
dtype: int64

In [17]:
col_to_remove=['wides' , 'noballs' , 'byes' , 'legbyes' , 'penalty' , 'wicket_type' , 'player_dismissed' , 'other_wicket_type' , 'other_player_dismissed' ]
df=df.drop(columns=col_to_remove)

In [18]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras
0,1416472,2023/24,2024-02-17,"Gaddafi Stadium, Lahore",1,1.5,Lahore Qalandars,Islamabad United,Sahibzada Farhan,Fakhar Zaman,Ubaid Shah,2,0
1,1416472,2023/24,2024-02-17,"Gaddafi Stadium, Lahore",1,1.6,Lahore Qalandars,Islamabad United,Sahibzada Farhan,Fakhar Zaman,Ubaid Shah,4,0
2,1416472,2023/24,2024-02-17,"Gaddafi Stadium, Lahore",1,2.1,Lahore Qalandars,Islamabad United,Fakhar Zaman,Sahibzada Farhan,Naseem Shah,0,5
3,1416472,2023/24,2024-02-17,"Gaddafi Stadium, Lahore",1,2.2,Lahore Qalandars,Islamabad United,Fakhar Zaman,Sahibzada Farhan,Naseem Shah,1,0
4,1416472,2023/24,2024-02-17,"Gaddafi Stadium, Lahore",1,2.3,Lahore Qalandars,Islamabad United,Sahibzada Farhan,Fakhar Zaman,Naseem Shah,4,0